<p id="notice"><%= notice %></p>

<p>
  <h2>Welcome, <%= current_user.username %></h2>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= link_to 'Create new purchase', new_purchase_path %>