  <div class="left">
    <h1>Purchase Details</h1>
    <div class="text">
      <strong>Title: </strong><br>
      <%= @purchase.title %>
      <br>
      <strong>Description: </strong><br>
      <%= @purchase.description %>
      <br>
      <strong>Shared with: </strong><br>
      <%= @purchase.group %>
      <br>
      <strong>Minimum price: </strong><br>
      <%= dollars(@purchase.min_price) %>
      <br>
      <strong>Current total price: </strong><br>
      <%= dollars(@purchase.current_total_price) %>
      <br>Price remaining: </strong><br>
      <%= dollars(@purchase.get_remaining_price()) %>
      <br>
      <strong>Deadline: </strong><br>
      <%= @purchase.deadline %>
      <br>
      <strong>Current contributors: </strong><br>
      <% @purchase.payments.each do |payment| %>
          <%= User.find(payment.user_id).name %><br>
      <% end %>
      <br>

      <% if current_user.id == @purchase.user_id %>
        <% if @purchase.is_accepting_payments? %>
          <hr>
          <%= button_to "Edit Purchase", edit_purchase_path(@purchase), :method=>:get, :class => "btn btn-primary" %>
        <% end %>
        <% if @purchase.is_minimum_met? %>
          <hr>
          Close purchase to other users.
          <%= button_to "Close Purchase", close_purchase_path(@purchase), :class => "btn btn-primary" %>
        <% elsif @purchase.is_closed? %>
          <hr>
          <%= button_to "Finalize", finalize_purchase_path(@purchase), :class => "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>