<div class="wrapper">
  <%= render 'details' %>

  <div class="right">
    <div class="text">
      <h1>Edit Purchase:</h1>
      <%= form_for(@purchase) do |f| %>
        <% if @purchase.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

            <ul>
            <% @purchase.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>
        <div class="field">    
          <%= f.label :min_price %>
          <%= f.number_field :min_price, :min => 0 %>
        </div>
        <div class="field">
        	<%= f.label :deadline %>
        	<%= f.text_field :deadline %>
        </div>
        
        <br>
        <div class="actions">
          <%= f.submit "Update", :class => "btn btn-primary"%>
        </div>
        
      <% end %>
	  <br>
	  <hr>
      <%= link_to 'Back', @purchase %> |
      <%= link_to 'My Purchases', purchases_path %>
    </div>
  </div>
</div>