<h1>Finalizing purchase</h1>
<%= form_tag("/venmo/charge?purchase_id=#{@purchase.id}") %>
  <div class="field">
    <%= label_tag "Final Price:" %>
    <%= number_field_tag "final_price", nil, min: 0 %>
  </div>
  <div class="field">
    <%= label_tag "Pickup details for those who ordered:" %>
    <%= text_area_tag "pickup_details", nil %>
  </div>
  <div class="actions">
    <%= submit_tag %> 
  </div>

<%= link_to 'Back to Purchase', @purchase %>
