<div class="wrapper">>
	<%= render 'details' %>
	
	<div class="right">
		<h1>Finalizing purchase</h1>
		<%= form_tag("/venmo/charge?purchase_id=#{@purchase.id}") %>
		  <div class="field">
		    <%= label_tag "Final price:" %>
		    <%= number_field_tag "final_price", nil, min: 0 %>
		  </div>
		  <div class="field">
		    <%= label_tag "Pickup details for those who ordered:" %>
		    <%= text_area_tag "pickup_details", nil %>
		  </div>
		  <div class="actions">
		    <%= submit_tag "Finalize", :class=>"btn btn-primary"%> 
		  </div>
		<br>
		<hr>
		<%= link_to 'Back', @purchase %>
	</div>
</div>
