<%= form_for(@purchase) do |f| %>

  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :min_price, "Minimum Price" %>
    <%= f.number_field :min_price, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :deadline %>
    <%= f.text_field :deadline %>
  </div>
  <div class="field">
    <input type="hidden", id="facebook_token", value=<%=current_user.oauth_token%>>
  </div>
  <div class="field">
    <%= label_tag "group", "Share with Facebook group" %>
    <%= select_tag "group_select", :required => true%>
  </div>
  <div>
    <%= hidden_field_tag "selected_group_name" %>
  </div>
  <div>
    <%= f.hidden_field :id %>
  </div>
  
  <div class="actions">
    <%= f.submit :id => "new_purchase_submit"%>
  </div>
<% end %>
