<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :min_price %><br>
    <%= f.number_field :min_price, :min => 0 %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.text_field :deadline %>
  </div>
  <div class="field">
    <%= f.hidden_field :id %>
  </div>
  <div>
    <%= f.label "Invite group (limited to one)" %>
    <%= f.collection_select :invited_group, User.order(:username)-[current_user], :id, :username, {:required => true} %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
