<!--created by Harry (sanabria@mit.edu)-->
<h1>Adding more users</h1>

<%= form_for(@purchase, :method => :put, :url => update_to_add_users_path(@purchase)) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label "Select more people to pay with: (CTRL-click to select more than one)" %>
    <%= f.collection_select :user_ids, (User.order(:username)-[current_user])-@purchase.users, :id, :username, {:required => true}, :multiple => true %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>

  </div>

<% end %>

<%= link_to 'Show', @purchase %> |
<%= link_to 'Back to purchases', purchases_path %>

