<h1><%= "Editing purchase #{@purchase.title}" %></h1>

<h2>Edit this purchase:</h2>
<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <strong>Current total price: </strong>
    <%= dollars(@purchase.current_total_price) %><br>
    <strong>Price remaining: </strong>
    <%= dollars(@purchase.get_remaining_price()) %><br>
    <%= f.label :min_price %><br>
    <%= f.number_field :min_price, :min => 0 %>
  </div>
  <div class="field">
  	<%= f.label :deadline %><br>
  	<%= f.text_field :deadline %>
  </div>
  
  <br>
  <div class="actions">
    <%= f.submit "Update"%>
  </div>
  
<% end %>

<%= link_to 'Back', @purchase %> |
<%= link_to 'My Purchases', purchases_path %>
