<!--created by Harry (sanabria@mit.edu)-->
<h1>Editing purchase</h1>

<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price, :min => 0 %>
  </div>
  <div>
    <input type="hidden" id="total_other_parts"  value=<%=@purchase.get_total_parts_except_user(current_user)%> />
  <div>
  <div>
    <%= f.label "How many parts of the whole will you pay for?" %><br>
    <%= number_field_tag "user_parts", @purchase.get_current_user_payment(current_user).part, :min => 1, :html => {:id => "user_parts"} %>
    <p id="amount_to_pay"> You pay: <%= "$#{@purchase.how_much_due(@purchase.get_current_user_payment(current_user))}" %> </p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  </div>

<% end %>

<%= link_to 'Show', @purchase %> |
<%= link_to 'Back', purchases_path %>
