<!--created by Yihua (liyihua@mit.edu) and Harry (sanabria@mit.edu)-->

<% provide(:title, 'Your Purchases') %>

<h4>You have <%= pluralize(@purchases.count, "purchase") %></h4>

<%= button_to "Create a New Purchase", new_purchase_path, :method=>:get,:class => "btn btn-primary"%>

<table border="1">
	<thead>
		<tr>
			<th>Title</th>
			<th>Minimum</th>
			<th>Progress</th>
			<th>Status</th>
		</tr>
	</thead>

	<tbody>
		<% current_user.purchases.each do |purchase| %>
		<tr>
			<td><%= link_to "#{purchase.title}", purchase %></td>
			<td><%= "$%.2f" % purchase.min_price %></td>
			<td><%= "$%.2f" % purchase.current_total_price %></td>
			<td><% if purchase.is_minimum_not_met? %>Pending
				<% elsif purchase.is_minimum_met? %>Ready
				<% elsif purchase.is_confirmed? %>Complete
				<% end %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>
