<% provide(:title, 'Purchase') %>

<p>
	<strong>Title: </strong>
  	<%= @purchase.title %>
</p>

<p>
	<strong>Description: </strong>
	<%= @purchase.description %>
</p>

<p>
	<strong>Shared with: </strong>
	<%= @purchase.group %>
</p>

<p>
	<strong>Minimum price: </strong>
	<%= "dollars(@purchase.min_price)" %>
</p>

<p>
	<strong>Current total price: </strong>
	<%= "dollars(@purchase.current_total_price)" %>
</p>

<p>
	<strong>Price remaining: </strong>
	<%= "dollars(@purchase.get_remaining_price())" %>
</p>

<p>
	<strong>Deadline: </strong>
	<%= @purchase.deadline %>
</p>

<% if !current_user.payments.where(:purchase_id => @purchase.id).any? && @purchase.is_accepting_payments?%>
  <%= render "join" %>

<% else if current_user.payments.where(:purchase_id => @purchase.id).any? %>
  <h2>Contributors</h2>
  <p>
  	<strong>You owe:</strong>
    <%= "$#{@purchase.get_current_user_payment(current_user).price}" %>
  </p>

  <p>
    <strong>Your payment description:</strong>
    <%= @purchase.get_current_user_payment(current_user).description %>
  </p>
  <% if @purchase.is_accepting_payments? %>
    <%= link_to "Edit how much you pay", purchase_edit_payment_path(@purchase) %>
  <% end %>
  <p>
    <strong>Other people in this purchase:</strong>
  </p>
  <table border="1">
    <thead>
      <tr>
        <th>User</th>
        <th>Payment</th>
      </tr>
    </thead>

    <tbody>
      <% @purchase.payments.each do |payment| %>
      <tr>
        <td><%= User.find(payment.user_id).name %></td>
        <td><%= "$#{payment.price}" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% if current_user.id == @purchase.user_id %>
  <hr>
  <% if @purchase.is_accepting_payments? %>
        <%= link_to "Edit the details of this purchase", edit_purchase_path(@purchase) %>
  <% end %>
  <% if @purchase.is_minimum_met? %>
        <p>Click here to close this purchase to new users.</p>
        <%= btn_to "Close Purchase", close_purchase_path(@purchase) %>
  <% elsif @purchase.is_closed? %>
        <%= btn_to "Finalize", finalize_purchase_path(@purchase) %>
  <% end %>
  <hr>
<% end %>

<%= link_to 'Back to purchases', purchases_path %>
