<!DOCTYPE html>
<html>
	<head>
		<title>GroupBuy</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body id="layout_body">

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a href=<%= root_url %> id="site_name">comBUYne</a>
				<div id="navlist">
					<ul>
						<% if current_user %>

						<!-- FACEBOOK LOGIN -->
						<li>
							<img src=<%= current_user.image_url %> width="80" height="80" />
						</li>
						<li>
							<%= link_to current_user.name, current_user, :class=>"navlist_link"%>
						</li>
						<li> | </li>
						<li>
							<%= link_to "View Purchases", "#{::DOMAIN}purchases", :class=>"navlist_link"%>
						</li>

						<li> | </li>
						<!-- VENMO -->
						<% if current_user.venmo.blank? %>
						<li>
							Please attach a Venmo Account! 							<%= link_to "Authenticate", "/venmo/authenticate", :class=>"navlist_link" %>
						</li>
						<% else %>
						<li>
							Venmo: <%= current_user.venmo.username %>. <%= link_to "Not you?", "/venmo/authenticate", :class=>"navlist_link"%>
						</li>
						<% end %>

						<li> | </li>
						<!-- LOGOUT -->
						<li>
							<%= link_to "Log out", log_out_path, :class=>"navlist_link" %>
						</li>
						<% end %>
					</ul>
				</div><!--/.nav-collapse -->		
			</div>
		</div>

		<div id="individual_page">
			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>">
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				<%= value %>
			</div>
			<% end %>
			<div class="row">
				<div class="span10 offset2">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
</html>
